:root {
  --background_color: rgba(153, 204, 255, 1);
  --color: rgba(102, 153, 255, 1);
  --other_color: rgb(230, 184, 0);
  --gray: rgb(170, 170, 170);
  --light_color: rgb(230, 243, 255);
  --background_color_o95: rgba(153, 204, 255, .95);
  --background_color_o99: rgba(153, 204, 255, .99);
  --color_o90: rgba(102, 153, 255, .9);
  --gray_o90: rgba(170, 170, 170, .9);
  --gray_o50: rgba(170, 170, 170, .5);
}
